# k-Means Clustering Testing

## Setup

In [1]:
# Data Structures
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_rows = None

# Visualization
import plotly.express as px

# Output Control
from IPython.display import display

## Data Loading

In [2]:
data = pd.read_csv("../data/input/iris.csv")

display(data.shape)
display(data.head())

(150, 6)

   SepalLength  SepalWidth  PetalLength  PetalWidth          Species  Target
0          5.8         2.8          5.1         2.4   Iris-virginica       2
1          6.0         2.2          4.0         1.0  Iris-versicolor       1
2          5.5         4.2          1.4         0.2      Iris-setosa       0
3          7.3         2.9          6.3         1.8   Iris-virginica       2
4          5.0         3.4          1.5         0.2      Iris-setosa       0

## Data Preparation

In [3]:
preproc = data.iloc[:, 0:4]

display(preproc.shape)
display(preproc.head())

(150, 4)

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          5.8         2.8          5.1         2.4
1          6.0         2.2          4.0         1.0
2          5.5         4.2          1.4         0.2
3          7.3         2.9          6.3         1.8
4          5.0         3.4          1.5         0.2

## Testing